<html>
  <head></head>
  <body>
    <p><%= message %></p>
    <p>
      The SECRET NUMBER is <%= number %>
    </p>

    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>